* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
    text-align: center;
}

.main {
    position: relative;
    margin: 60px auto;
    padding: 40px;
    height: 600px;
    background-color: #fff;
}

.main .left {
    position: absolute;
    top: 30%;
    font-size: 2rem;
}

.main .right {
    position: absolute;
    right: 3%;
    top: 15%;
    padding: 20px;
    /*border: 1px solid black;*/
    width: 700px;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.main .right input {
    margin-left: 10px;
    padding: 5px;
    border: 0;
    border-bottom: 3px solid black;
    line-height: 30px;
    font-size: 18px;
    width: 400px;
    height: 30px;
    outline: none;
}

.main .right .sub {
    border: 0;
    width: 490px;
    height: 40px;
    background-color: orange;
    transition: all 1s;
    cursor: pointer;
}

.main .right .sub:hover {
    color: white;
    background-color: chocolate;
}

.main .right textarea {
    width: 410px;
    height: 100px;
    font-size: 18px;
}

